.cards {
  margin-top: 20px;
  justify-content: center;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 323px);
  list-style-type: none;
  grid-gap: 20px;
  padding: 0;
}

@media screen and (max-width: 420px) {
  .cards {
    align-items: center;
  }
  .cards__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards__text {
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
