.user-clothes {
  width: 1015px;
  margin: 0;
}

.user-clothes__section {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
}

.user-clothes__add-clothes-button {
  border: none;
  padding: 0;
  margin-left: 20px;
  color: #00000099;
  background-color: #f3f3f3;
}

.user-clothes__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  list-style-type: none;
  grid-gap: 20px;
  padding: 0;
}
